@use 'common' as *;

:root {
  --module-h: 0;
}

*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline:0;
}


//varie & eventuali
.d-inline-block {
  display: inline-block;
}

.t-visible, .m-visible {
  display: none;
}

.d-flex {
  display: flex;
  &.d-row-reverse {
    flex-flow: row-reverse;
  }
  &.d-column {
    flex-flow: column;
  }
  &.center {
    align-items: center;
  }
  &.v-center {
    justify-content: center;
  }
  &.top {
    align-items: flex-start;
  }
  &.baseline {
    align-items: baseline;
  }
  &.bottom {
    align-items: flex-end;
  }
  &.flex-end,
  &.align-right {
    justify-content: flex-end;
  }
  &.space-between {
    justify-content: space-between;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.grow {
    flex: 1;
  }
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.p-fixed {
  position:fixed;
}

.overall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100vh;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.t-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.primaryColor {
  color: $primaryColor;
}

.secColor {
  color: $secColor;
}

.wysiwyg {
  ul {
    list-style-type: "•";
    margin-left: var(--half-spacing);
    li {
      padding-left:var(--half-spacing);
    }
  }
  a {
    text-decoration: underline;
  }
  &.s-regular-2 {
    @extend .s-regular-2;
    p {
      margin-bottom: var(--double-spacing);
    }
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}


/* basic elements */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Venezia';
  line-height: 1.3;
  @extend .s-regular;
  text-rendering: geometricPrecision;
  color: $primaryColor;
  background-color: $secColor;
  overflow-x: hidden;
  &.locked {
    overflow-y: hidden;
  }
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  line-height: 1;
}

a {
  color:$primaryColor;
  text-decoration: none;
  transition: color .3s;
  &:hover {
    color: $accentColorPub;
  }
}

ul {
  margin:0;
  padding-left:0;
  list-style-type: none;
}

button {
  appearance: none;
  box-shadow: none;
  border: none;
  color: $primaryColor;
  background-color: transparent;
  cursor: pointer;
}

.underlined {
  text-decoration: underline;
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: all .75s ease;
  &.is-visible {
    opacity: 1;
    transform: none;
  }
}

.container {
  width: calc(100% - var(--double-spacing) * 2);
  margin: var(--double-spacing);
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.flex-row, .grid-row {
  column-gap: var(--double-spacing);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  margin: 0;
  #header-row {
    padding: var(--double-spacing);
  }
  #logo {
    img {
      width: 50%;
    }
  }
  div[class*="menu-1"] {
    display: contents;
    ul {
      display: contents;
      li {
        @extend .d-2-twelfth;
      }
    }
  }
}

$delays: (0s, -12s, -3s, -10.5s, -6s, -7.5s, -9s, -4.5s, -1.5s, -13.5s);

@for $i from 1 through length($delays) {
  .project:nth-child(#{$i}) .project-title-track {
    --random-delay: #{nth($delays, $i)};
  }
}

.journal-banner {
  overflow: hidden;
  position: relative;
  padding: calc(var(--half-spacing)/2) 0;
  border-top: 2px solid $primaryColor;
  border-bottom: 2px solid $primaryColor;
  .journal-track {
    display: flex;
    cursor: pointer;
    width: max-content;
    animation: marquee-long 18s linear infinite;
    &:hover {
      animation-play-state: paused;
    }
    .journal-titles {
      span {
        margin-right: var(--spacing);
      }
    }
  }
}

main {
  padding-top: var(--header-height);
  section.project {
    position: relative;
    a.overall:hover {
      & + .project-title-wrap .project-title-track  {
        animation-play-state: paused !important;
      }
    }
    .project-title-wrap {
      overflow: hidden;
      position: relative;
      .project-title-track {
        display: flex;
        cursor: pointer;
        animation-delay: var(--random-delay) !important;
        animation-play-state: running;
        .project-title {
          display: inline-block; 
          padding-top: var(--double-spacing);
          line-height: 1;
          flex-shrink: 0;
          white-space: nowrap;
        }
        &.is-long {
          width: max-content;
          animation: marquee-long 20s linear infinite;
          .project-title {
            margin-right: var(--double-spacing);
          }
        }
        &.is-short {
          position: relative;
          animation: marquee-short 10s linear infinite;
          .project-title {
            width: 100vw;
          }
        }
      }
    }
    .project-category {
      position: absolute;
      top: 50%;
      left: var(--double-spacing);
      transform: translateY(-50%);
      z-index: -1;
      &[data-cat*="publishing"] {
        color: $accentColorPub;
      }
      &[data-cat*="curatela"],
      &[data-cat*="curatorship"] {
        color: $accentColorCur;
      }
      &[data-cat*="consulting"] {
        color: $accentColorCons;
      }
    }
    .project-thumb {
      position: absolute;
      top: 0;
      height: 100%;
      width: auto;
      opacity: 0;
      transition: opacity .3s .3s;
      &.loaded {
        opacity: 1;
      }
    }
  }
}

@keyframes marquee-long {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

@keyframes marquee-short {
  from { transform: translateX(0); }
  to   { transform: translateX(-100vw); }
}

#project-panel {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10001;
  overflow-y: auto;
  background-color: white;

  transform: translateY(100%);
  opacity: 0;
  transition: transform .5s ease-in-out, opacity 0s .5s;
  &[data-state='open'] {
    transform: translateY(0);
    opacity: 1;
    transition: transform .5s ease-in-out, opacity 0s 0s;
  }
  button.project-panel-close {
    position: absolute;
    right: var(--spacing);
    top: var(--spacing);
    width: calc(var(--spacing)*3);
    height: calc(var(--spacing)*3);
    svg {
      stroke: $primaryColor;
      stroke-width: 3px;
    }
  }
  .project-panel-body {
    opacity: 0;
    transition: opacity .4s;
    &.loaded {
      opacity: 1;
    }
  }
}

#journal-panel {
  position: fixed;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  width: $col*4;
  right: 0;
  z-index: 10002;
  overflow-y: auto;
  background-color: white;

  transform: translateX(100%);
  opacity: 0;
  transition: transform .5s ease-in-out, opacity 0s .5s;
  &[data-state='open'] {
    transform: translateX(0);
    opacity: 1;
    transition: transform .5s ease-in-out, opacity 0s 0s;
  }
  button.project-panel-close {
    position: absolute;
    right: var(--spacing);
    top: var(--spacing);
    width: var(--spacing);
    height: var(--spacing);
    svg {
      stroke: $primaryColor;
      stroke-width: 3px;
    }
  }
  .journal-panel-body {
    opacity: 0;
    transition: opacity .4s;
    &.loaded {
      opacity: 1;
    }
  }
}

//---- SINGLE PROJECT
article {
  #project-img img {
    width: 100%;
    height: auto;
  }
  #project-txt, #project-info {
    margin-left: $col*1.5;
    .project-info-label {
      padding-right: $col;
    }
  }
  #project-carousel {
    .swiper-slider {
      aspect-ratio: 16/10;
      overflow: hidden;
      position: relative;
      .swiper-slide {
        background-color: white;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .swiper-navi {
        .swiper-button-prev {
          left: var(--double-spacing);
          transition: all .3s;
          &:after {
            content: url('../img/LMS_arrow_left.svg');
            font-size: 0;
            width: calc(var(--double-spacing) * 2);
          }
          &:hover {
            left: var(--spacing);
          }
        }
        .swiper-button-next {
          right: var(--double-spacing);
          transition: all .3s;
          &:after {
            content: url('../img/LMS_arrow_right.svg');
            font-size: 0;
            width: calc(var(--double-spacing) * 2);
          }
          &:hover {
            right: var(--spacing);
          }
        }
      }
    }
  }
}

//-- ARCHIVE
#content-archive {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 100vh;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  #projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .single-project {
      .project-category {
        display: flex;
        align-items: center;
        &:before {
          content: url('../img/LMS_arrow_right.svg');
          display: flex;
          height: .9vw;
          margin-right: var(--spacing);
        }
      }
      figure {
        aspect-ratio: 16/10;
        img {
          display: flex;
          width: 100%;
        }
        &.landscape img {
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}


// --- JOURNAL LIST
#journal-container {
  height: 100%;
  padding-left: 4.16665vw; //half column
  overflow-y: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .journal-item {
    padding: var(--half-spacing) 0;
    border-top: 2px solid $primaryColor;
    &:last-of-type {
      border-bottom: 2px solid $primaryColor;
    }
    .journal-title {
      cursor: pointer;
    }
    .journal-content {
      max-height: 0;
      opacity: 0;
      transition: all .5s;
      pointer-events: none;
      &.visible {
        opacity: 1;
        max-height: 500vh;
        pointer-events: all;
      }
      .journal-content-inner {
        padding: var(--double-spacing) 0 var(--spacing);
        .journal-thumb {
          display: flex;
        }
      }
    }
  }
}


footer {
  display: none;
}
